#stick_content {
  position: absolute;
  top: 0;
  left: 0;
}

#img_container {
  position: relative;
}

#bg_img {
  z-index: 1;
}

#cover_img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

@media (max-width: 700px) {
  #stick_content {
    top: 3.4em;
  }
}
